body,html{overflow-x:hidden;margin:0;padding:0;height:100%}


a {color:#379B00;}
a:hover {color:#9cd722;}

img.embed-responsive-item {object-fit: cover;}

.btn.btn-primary { background-color:#9cd722; border-color:#9cd722; color:#fff;border-radius:4px;}
.btn.btn-primary:hover {background-color:#379B00; border-color:#379B00; text-decoration: none}

.btn.btn-default { color:#fff; background-color: #818181; border-color: #818181}
.btn.btn-default:hover, .btn.btn-default:focus { background-color: #999999; border-color: #999999}


#lot_container {height:100%;}

#lot_header{background-color:#9cd722; width:100%;overflow:hidden;min-height: 64px;}

#lot_header .navbar {
    height:64px; 
    padding:2px 0; 
    background-color:#9cd722; 
    border:0; 
    margin-bottom:0;
     
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#lot_header .navbar-brand { padding:0; line-height: 0; }

#lot_body { padding-bottom:350px; min-height: 100%; margin-top:-64px; padding-top:64px; } /*lot_footer min-height*/

#lot_footer {
    padding-top: 40px;
    padding-bottom:20px;
    background-color: #9cd722;
	background-repeat: repeat;
	background-position: top center;
    min-height:300px; 
    margin-top:-300px;
}
#lot_footer .menu-footer a {padding:0; }
#lot_footer .menu-footer li:hover {background-color:none}