#lot_message {}

#lot_container {}


#lot_header{}

#lot_body{}


#lot_left, #lot_center, #lot_right {float:left;}
#lot_left{}
#lot_left #lot_left1, #lot_left #lot_left2 {float:left}
#lot_left #lot_left1{}
#lot_left #lot_left2{}

#lot_center{}


#lot_top{}

#lot_content{}

#lot_bottom{}



#lot_right{}
#lot_right #lot_right1, #lot_right #lot_right2 {float:left}
#lot_right #lot_right1{}
#lot_right #lot_right2{}


#lot_footer{}


#lot_debug {}



#lot_container { background-color:#000000; width:800px;height:800px;padding:20px;}

#lot_header{background-color:#ff0000; width:100%; height:15%}
#lot_body{background-color:#ff3030; width:100%; height:70%}
#lot_footer{background-color:#ff5050; width:100%; height:15%}


#lot_left{background-color:#00ff00; width:15%;height:100%;}
#lot_left1{border:3px dotted #fff; width:45%;height:100%;}
#lot_left2{border:3px dotted #000; width:45%;height:100%;}

#lot_center{background-color:#30ff30; width:70%;height:100%;}

#lot_right{background-color:#50ff50; width:15%;height:100%;}
#lot_right1{border:3px dotted #fff; width:45%;height:100%;}
#lot_right2{border:3px dotted #000; width:45%;height:100%;}

#lot_top{background-color:#0000ff; width:100%;height:15%;}
#lot_content{background-color:#3030ff; width:100%;height:70%;}
#lot_bottom{background-color:#5050ff; width:100%;height:15%;}


