body {font-size: 16px; line-height: 150%; font-weight:400; font-family: Montserrat, Roboto, 'Helvetica Neue', sans-serif; color:#565a5c; background-color:#f9f9f9;}
h1,h2,h3,h4   { color:#000; font-weight: 700;}

h1 {margin-top:40px; margin-bottom:40px}
h2 {margin-top:25px; margin-bottom:25px}

#lot_footer, #lot_footer a {color:#fff;}

#lot_footer .menu-footer a {color:#fff; font-weight:700; text-transform: uppercase; }
#lot_footer .menu-footer a:hover {text-decoration: underline}

#lot_footer h3 {color:#fff; font-size:16px;font-weight:700;margin-bottom:8px; margin-top:0; text-transform: uppercase;}
